# General dependencies
raw_data/
processed_data/
notebooks/airborne_data/
models/

__pycache__/
*.py[cod]
*.pyo
*.pyd
venv/
*.egg-info/
Pipfile.lock
.env
.env.*
*.key
*.pem
*.crt
config/database.yml
config/secrets.yml

/node_modules
/venv
/.venv
.Pipfile.lock
package-lock.json
yarn.lock
composer.lock
Gemfile.lock

*.log
*.tmp
*.temp
*.cache
*.pid
*.pid.lock

# Docker
docker-compose.override.yml
*.docker
Dockerfile*
/docker-compose.yml
/logs
/tmp

# macOS system files
.DS_Store

# Jupyter notebook checkpoints
.ipynb_checkpoints/
.csv
.json

# Video output
airborne_video_output/
*.mp4

# VS Code
.vscode/
.history/
*.code-workspace
